player-connection-mode=Listen
player-connection-guid=3159391176
player-connection-debug=0
player-connection-project-name=Destroy The Asteroids
player-connection-ip=10.0.0.198
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
xrsdk-pre-init-library=UnityOpenXR
xr-meta-enabled=0
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=34eaa64b35454355a501115015b3cf56
